@font-face {
  font-family: "Waldenburg HT";
  src: url('./fonts/WOFF2/KMRWaldenburg-SemiCondensedBold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  font-family: "Waldenburg HT", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
