@font-face {
  font-family: "Waldenburg HT";
  src: url('./fonts/WOFF2/KMRWaldenburg-SemiCondensedBold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header {
  font-family: "Waldenburg HT", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

input{
  border: none;
  box-sizing: border-box;
  border-radius: 12px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 16px;
}

input:focus{
  outline: 1px solid black;
}

input:hover:not(:focus) {
  outline: 0.5px solid #A6A6AE;  
}

.google_btn {
  box-sizing: border-box;
  border: 0.5px solid transparent;
  border-radius: 12px;
  background: transparent;
}

.google_btn:hover {
  border-color: #A6A6AE;
  cursor: pointer;
}

.signup_btn:hover{
  background-color: #323235;
}

.signIn:hover{
  text-decoration-line: underline;
  text-decoration-color: #2e2e2e;
  cursor: pointer;
}

.hidden {
    display: none !important;
}